*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.move{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#rock{
    background: blue;
}

#paper{
    background: red;
}

#scissor{
    background: yellow;
}

.moves{
    display: flex;
    gap: 10px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

.move img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.verticalline{
    height: 150px;
    width: 0px;
    border: 2px solid black;
}

.move:hover{
    border: 5px solid black;
}

#msg{
    height: 50px;
    width: 300px;
    color: white;
    background: #000;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}